.container {
    max-width: 100%;
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-logo {
    width: 32px;
    height: 32px;
}

.action-icon {
    height: 16px;
    width: 16px;
}

.user-logo {
    height: 20px;
    width: 20px;
}

.loading-gif {
    width: 38px;
}

/* Add color to texts */
.red-wine {
    color: #8d1638;
}

/* unvisited link */
a:link {
    color: #8d1638;
}

/* visited link */
a:visited {
    color: #5b011b;
}

/* mouse over link */
a:hover {
    color: #ad1717;
}

/* selected link */
a:active {
    color: #ad1717;
}
